<!--
  Generated template for the ProfilePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Profile</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-list *ngIf="profile">
        <ion-grid style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
          <ion-avatar>
            <img style="width: 50%" src="../assets/imgs/logo.png" alt="">
          </ion-avatar>
          <ion-item style="padding-left: 0;">
              <ion-input text-right type="text" value="{{ profile.name }}"></ion-input>
            </ion-item>
        </ion-grid>
        <ion-item style="padding-left: 0;">
            <ion-label>Address</ion-label>
            <ion-input text-right type="text" value="{{ profile.address }}"></ion-input>
          </ion-item>
  
        <ion-item style="padding-left: 0;">
          <ion-label>Phone number</ion-label>
          <ion-input text-right type="number" value="{{ profile.phone }}"></ion-input>
        </ion-item>
  
        <ion-item style="padding-left: 0;">
          <ion-label>Email</ion-label>
          <ion-input text-right type="email" value="{{ profile.email }}"></ion-input>
        </ion-item>
  
        <ion-item style="padding-left: 0;">
            <ion-label>Service Usage Histories:</ion-label>
        </ion-item>
  
        <ion-card *ngFor="let booking of bookings">
          <button ion-button class="button-inner" (click)="goToDetailPage(booking.id)">
              <ion-grid style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
                <p style="padding-right: 2em;">{{ booking.date_time }}</p>
              </ion-grid>
                <br>
              <ion-grid style="display: flex; flex-direction: row;">
                    <ion-title style="text-align: left">Bill number:</ion-title>
                    <p style="text-align: right">{{ booking.id }}</p>
              </ion-grid>
  
          </button>
        </ion-card>
  
  
  
  
      </ion-list>
  
  </ion-content>