page-home {
    .md-fixed .mbsc-scv-item {
        height: 180px;
        margin: 0 10px;
    }
    
   
    .md-layout .mbsc-scv-item {
        color: #fff;
        font-weight: bold;
        text-align: center;
    }
    
    .md-layout .mbsc-scv-c {
        margin: 10px 0;
    }
}
