<ion-header>
  <ion-navbar>
    <ion-title style="text-align: right;">Nguyen Thi Thanh Truc</ion-title>
    <!-- icon is missing -->
  </ion-navbar>
</ion-header>

<ion-content padding >
  <!--HOT DEALS-->
  <ion-title class="header">HOT DEALS </ion-title>
    <ion-scroll scrollX="true"  style="white-space: nowrap; width: 100%; height: 80%;">
      <img *ngFor = "let deal of deals" style="width: 100%" [src]="deal.image" >
    </ion-scroll>

  <!--SERVICE PRICE LISTS-->
  <ion-title class="header">PRICE LISTS</ion-title>
    <ion-card-content>
      <ion-segment [(ngModel)]="priceList" color="oasis">
        <ion-segment-button value="Nails" style="height:100%">
          <img src="../assets/icon/nails.png" alt="">
        </ion-segment-button>
        <ion-segment-button value="Eyelasher" style="height:100%">
          <img src="../assets/icon/eyelasher.png" alt="">
        </ion-segment-button>
        <ion-segment-button value="Tattoo" style="height:100%">
          <img src="../assets/icon/tattoo.png" alt="">
        </ion-segment-button>
        <ion-segment-button value="Courses" style="height:100%">
          <img src="../assets/icon/course.png" alt="">
        </ion-segment-button>
      </ion-segment>
      <ion-list style="margin: 0" inset>     
        <ion-item *ngFor="let sItem of getPriceListItems(priceList)">
          <ion-title>{{sItem.title}}</ion-title>
          {{ sItem.name }}
          <p item-end>{{ sItem.price }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  
  <!--COLLECTIONS-->
  <ion-title class="header">COLLECTIONS</ion-title>
  <div class="pins">
      <ion-card class="pin" *ngFor="let post of posts">
        <img [src]="post.image" />
      </ion-card>
    </div>
       
</ion-content>
