<!--
  Generated template for the DetailHistoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar>
    <ion-title>SERVICE USAGE HISTORIES</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="margin-top: 3em" padding *ngIf="booking">
  <!--use ngFor here-->
    <ion-grid style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
        <p style="padding-right: 2em;">
          <!--time-->
        </p>
        <p>
          <!--date-->
        </p>
      </ion-grid>

      <ion-grid style="display: flex; flex-direction: row;">
            <ion-title style="text-align: left">Bill number:</ion-title>
            <p style="text-align: right">{{ booking.id }}</p>
      </ion-grid>

      <div class="pins">
          <ion-card class="pin" *ngFor="let post of posts">
            <img [src]="post.image" />
          </ion-card>
      </div>
      <ion-item>
        <ion-card-title>Used services:</ion-card-title>
        <ion-list>
          <ion-card-content><!--{{booking.service}}--></ion-card-content>
        </ion-list>
      </ion-item>


      <ion-item *ngIf="emp_info">
          <ion-card-title>
            Stylist:
          </ion-card-title>
          <ion-card-content>{{ emp_info.name }}</ion-card-content>
      </ion-item>

</ion-content>
