<!--
  Generated template for the DetailHistoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Service Usage Histories</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="booking">
  <!--use ngFor here-->
    <ion-grid style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
        <p style="padding-right: 2em;">
          <!--time-->
        </p>
        <p>
          <!--date-->
        </p>
      </ion-grid>

      <ion-grid style="display: flex; flex-direction: row;">
            <ion-title style="text-align: left">Bill number:</ion-title>
            <p style="text-align: right">{{ booking.id }}</p>
      </ion-grid>

      <div class="pins">
          <ion-card class="pin" *ngFor="let post of posts">
            <img [src]="post.image" />
          </ion-card>
      </div>
      <ion-item>
        <ion-title>Used services</ion-title>
        <ion-list>
          <ion-item>
            <!--list of used services here with ngFor {{}}-->
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item *ngIf="emp_info">
        <ion-grid style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
          <ion-title>
            Stylist:
          </ion-title>
          <p>{{ emp_info.name }}</p>
        </ion-grid>
      </ion-item>

</ion-content>
